'scopeName': 'source.thor'
'fileTypes': ['txt', 'log']
'name': 'THOR'
'firstLineRegex': '(THOR|SPARK|LOKI): '
'contentRegex': 'MESSAGE: (Spark|SPARK|Thor|SPARK Core|Starting Loki Scan) (Version|VERSION): '
'patterns': [
  {
    'match': '([A-Z_]{3,}[0-9]{,3})[:]'
    'name': 'keyword.other.thor'
  }
  {
    'match': '(Str[0-9])[:]'
    'name': 'keyword.other.thor'
  }
  {
    'match': '(Warning)[:]'
    'name': 'invalid.illegal.unknown-escape.thor'
  }
  {
    'match': '(Alert)[:]'
    'name': 'invalid.illegal.thor'
  }
  {
    'match': '(Notice)[:]'
    'name': 'entity.other.thor'
  }
  {
    'match': '(Error)[:]'
    'name': 'invalid.illegal.thor'
  }
  {
    'match': '([a-zA-Z0-9\-_\.]+/[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3})'
    'name': 'string.other.thor'
  }
]
